*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
} 
body{
    max-width: 100%;
}
#comm{
    font-size: x-large;
    font-weight: 700;
    z-index: 3;
}
.icon{
    border-radius: 150px;
    border-style: double;
    width: 80px;
}
.header_class_new{
    position: relative;
    text-align: center;
    color: white;
}
.header_nav{
    position: absolute;
    top: 8px;
    left: 16px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    
    line-height: 1.6;
    font-weight: 400;
    color: rgb(3, 3, 3);
}
a:hover{
    text-decoration: none;
}
.extradiv  h2 , .servicediv h2{
    font-size: 0.9rem;
    line-height: 1.1;
    font-weight: bold;
    word-spacing: 4px;
    margin: 20px 0 15px 0;
}
i{
    color: firebrick;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(https://github.com/shruti-17/bledxz/blob/master/bgg.gif?raw="true");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    clip-path: none;
    position: relative;
}
.navbar:before{
    content: "";
    
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right,#1e5799 0%, #3ccdbb 0%, #16c9f6 );

}
.projectwork{
    background:linear-gradient(90deg,  #1a0000,#333333, #808080);
}
.nav-item a{
    color:  #ffff80;
    font-weight: bolder;
    text-shadow: rgb(199, 194, 188);
}
.header-section{
    width: 100%;
    text-align: center;
    height: inherit;
    color: brown;
    position: relative;
}
.centre-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
}
.centre-div h1{
    font-size: medium;
}
.header-buttons  a{
    border: 1px solid slategray;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center ;
}
.header-buttons  a:hover{
    color: navy;
    background: powderblue;
    text-decoration: lightcoral;
    box-shadow: lightgreen;
}
.centre-div p{
    color: sienna;
    padding: 10px 0 20px 0;
    text-decoration-style: solid;
}
.header-extradiv{
    width:auto;
    margin: 50px 0;
    height: auto;
    text-align: center;
    background-color: lightcoral;

}
.extradiv {
     background: white;
     border: medium snow;
     padding: 50px;
     border-radius: 10px;
     transition: 0.3s;

}
.extradiv :hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,00.3);
    transform: translateY(-10px);
}


.headings{
    margin-bottom: 50px;
}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h1{
    color: crimson;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}
.serviceicons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
    margin-bottom: 25px;
    height:0.6rem;
    background: sandybrown;
}
.projectwork h4{
    font-size: 2rem;
    text-align: center;
    color: lawngreen;
}
.monospace {
    font-family: "Lucida Console", Courier, monospace;
  }
#demo{
    font-size: x-large;
    font-weight: 800;
}

.carousel-inner{
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
}


.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background-color: violet;
  
}
.card-body{
    padding: 30px 0px;
}

.myimage{
    border-radius: 300px;
    width: 70px;
}
.Co-founder{
    width: 100%;
    height: 60vh;
    padding: 80px 0;
    transform: translateY(-70%);
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 5px 10px #1a1a1a;
    border-radius: 2px;
    transition: 0.3s ease;
    transform: translateY(-10%);

}
.col-lg-5 col-md-5 col-15{
    max-width: 25%;
    background-color: lightpink;
}
.box :hover{
    background-color: #ff9999;
}
.box a{
    position: relative;
}
.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.box a :after{
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: aquamarine;

}
.box h1{
    font-size: 18px;
    font-size: 400;
    color:  #e67300;
    margin-bottom: 10px;
}
.box h2{
    font-size: 13px;
    font-weight: 400px;
    color: #993300;
    margin-bottom: 20px;
}
.Contactus{
    width: 100%;
    height: auto;
    padding: 80px 0;
    position: relative;

}
.Contactus:before{
    content: "";
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    background: linear-gradient(90deg,	 #994d00 ,#ff8000,#ffbf80

     );
     
}


.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: thistle;
    position: relative;
    position: absolute;
    background: linear-gradient(330deg, #ffffe6 45%, 

     #ff9999 55%);
}
.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: teal;
    text-transform: capitalize;
}
.footersection h3{
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.footersection p{
    text-align: left;
}
@media(max-width:768px)
{
    .nav-item{
        text-align: center!important;
    }
    #servicediv{
        height:auto;
        margin-top: 100px;
    }
    .Co-founder,.Contactus{
        height: auto;
        margin-top: 50px;
    }
    .card-second  {
        transform: translateY(0px);
        margin: 30px 0;
    }
}
@media only screen and (max-width:1024px) {
	html {
		font-size: 9.375px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.375px;
	}
}





 


